* {
    margin:0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }

  
  /* headrer section */

  .header {

  }

  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }

  /* nav section */

  nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    width: 7%;
  }

  .nav-links {
    flex: 1;
    text-align: right;
  }

  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
  }

  .nav-links ul li a {
    color: #444242;
    text-decoration: none;
    font-size: 13px;
  }


  .nav-links ul li::after {
    content:'';
    width: 0%;
    height: 2px;
    background: #0065FC;
    color: #0065FC;
    display: block;
    margin: auto;
    transition: 0.5s;
    position: relative;
    bottom: 60px;
  }

  .nav-links ul li:hover::after {
    width: 100%;
  }

  /* text box section */

  .text-box {
    width: 100%;
    color: #000;
    line-height: 2em;
    margin: 0 65px;
  }

  .text-box h1 {
    font-size: 25px;
  }

  .text-box p {
    font-size: 19px;
    color: #656161;
  }
  
  /* search section */

  .search-section {
    margin: 24px 66px;
  }


  #iconsearch { 
    display: inline;
    margin: -4px;
    padding: 15px 20px;
    border-radius: 15px 0 0 15px;
    background-color: #e2e8e8;
  }


  input {
    font-size: 20px;
    font-family: "Arial Bold", sans-serif;
    box-sizing: border-box;
    transition: .5s;
  }

  input[type="text"] {
    width: 340px;
    height: 45px;
    border: 1px solid #F2F2F2;
    outline: none;
    padding: 0 25px;
    top: 0px;
    left: 3px;
  }

  .buttonsearch{ 
    border-radius: 0 15px 15px 0;
    width: 100px;
    height: 46px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #0065FC;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    margin: -2px;
  }

  .buttonsearch:hover{
    background: #437cd2;
  }


  

  

  /* fliter section */

  p {
    font-family: "Raleway", sans-serif;
  }


  .filters {
    margin: 15px 65px;
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    
  }

  .filtericons  {
    color: #0065FC;
    background: #d6e6ff;
    padding: 17px;
    border-radius: 25px;
    width: 8%;
    margin: 0px 0px;
  }


  .filters .iconwords {
    position: relative;
    bottom: 32px;
    left: 24px;
  } 

 
  @media only screen and (max-width: 768px) {
    .filters {
      width: 50%;
    }
  }

  .container {
    width: 100%;
  }
  

  .filterbuttonslow {
    width: 15%;
    height: 50px;
    border: 2px solid #e2e8e8;
    background: none;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
  }

  .filterbuttonsfam {
    width: 19%;
    height: 50px;
    border: 2px solid #e2e8e8;
    background: none;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
  }

  .filterbuttonsrom {
    width: 15%;
    height: 50px;
    border: 2px solid #e2e8e8;
    background: none;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
  }

  .filterbuttonspet {
    width: 17%;
    height: 50px;
    border: 2px solid #e2e8e8;
    background: none;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
  }

  .filters h1 {
    font-size: 25px;
  }

  .filters p{
    font-size: 18px;
    text-align: center;
  }

  .filtercopylow {
    top: -36px;
    position: relative;
    left: 15px;
    
  }
  .filtercopyfam {
    top: -36px;
    position: relative;
    left: 20px;
    
  }
  .filtercopyrom {
    top: -36px;
    position: relative;
    left: 18px;
    
  }
  .filtercopypet {
    top: -36px;
    position: relative;
    left: 20px;
    
  }

  /* info section */ 
  .info {
    margin: 0px 65px;

  }

  .infoicon {
    border: 0.5px solid #625b5b;
    border-radius: 25px;
    color: #0065FC;
    width: 1%;
    padding: 4px;
    text-align: center;
    position: relative;
    top: 0px;
  }

  .infocopy {
    position: relative;
    top: -23px;
    left: 34px;
  }










   /* accomaddation section */

.accommodations {
  background: #F2F2F2;
  width: 58%;
  height: 104%;
  border-radius: 10px;
  margin: 0px 59px;
  padding-top: 1px;
}


.container-accommodations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

  .flex-container-accommodations {
    display: flex;
    flex-wrap: wrap;
    height: 210%;
    flex-direction: row;
    row-gap: 31px;
    margin: 45px;
    width: 100%;
  }

  .image-gallery-accommodations {
    width: 100%;
  }
  
  .flex-item-accommodations-card {
    margin-bottom: 32px;
    width: 26%;
    height: 40%;
    padding: 10px;
    float: left;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 30px;
    margin-right: 29px;
    background: white;
  }

  .accomadation-info {
    color: #000000;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 16px;
  }

  .active-star {
    color: #0065FC;
    font-size: 10px;
  }

  .inactive-star {
    color: #c7bcbc;
    font-size: 10px;
  }
  
  .flex-item-accommodations-card img {
    width: 100%;
    max-width: 310px;
    height: 110px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .flex-container-accommodations-card h1 {
    margin: 30px 0 0 30px;
  }









   /* most popular section */

  .most {
    background: #F2F2F2;
    width: 25%;
    border-radius: 10px 10px 10px 10px;
    float: right;
    margin-top: -674px;
    margin-right: 176px;
}


.flex-container-most {
  margin: 45px 21px;
  display: flex;
  flex-wrap: wrap;
  height: 543px;
  flex-direction: column;
  row-gap: 39px;
}

.flex-container-most .star {
    display: flex;
    justify-content: right;
    margin-top: -23px;
}

.flex-item-most-card {
  width: 94%;
  height: 115px;
  padding: 10px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 30px;
  background: white;
}

.flex-item-most-info {
  color: #000000;
  margin: -115px 0 0 166px;
}


.flex-item-most-info p {
  line-height: 4rem;
  font-size: 14px;
}

.flex-item-most-card img {
    width: 44%;
    max-width: 400px;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

  .container-m{
    width: 100;
  }









  /* activities section */

  .activities{

    margin: 25px 62px;
}

.flex-container-act {
  display: flex;
  flex-wrap: wrap;

}



.flex-item-act-card {
  width: 90%;
  height: 100%;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 30px;
}

/* .flex-container-act:nth-child(2) {
  background: red;
}

.flex-container-act:nth-child(6) {
  background: pink;
} */

/* .flex-item-act-card-1 {
  width: 90%;
  height: 100%;
  padding: 10px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 30px;
} */

.flex-item-act-info {
  color: #000000;
}

.flex-item-act-card:nth-child(3) {
  background: red;
}


.flex-item-act-1 img{
  width: 25%;
  /* max-width: 310px; */
  height: 484px;
  object-fit: cover;
  border-radius: 10px;
  flex: 1;
  float: left;
}

.flex-item-act-2 img{
  width: 45%;
  /* max-width: 310px; */
  height: 424px;
  object-fit: cover;
  border-radius: 10px;
  flex: 2;
}

.flex-item-act-3 img{
  width: 45%;
  /* max-width: 310px; */
  height: 424px;
  object-fit: cover;
  border-radius: 10px;
  flex: 3;
}

.flex-item-act-4 img{
  width: 45%;
  /* max-width: 310px; */
  height: 424px;
  object-fit: cover;
  border-radius: 10px;
  width: 45%;
  /* max-width: 310px; */
  height: 424px;
  object-fit: cover;
  border-radius: 10px;
  flex: 5;
}

.flex-item-act-6 img{
  width: 45%;
  /* max-width: 310px; */
  height: 424px;
  object-fit: cover;
  border-radius: 10px;
  flex: 6;
}
  

.flex-item-act-card img {
  width: 100%;
  max-width: 310px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
} 

.big-box {
  flex: 1;
  height: 100px;
  margin: 10px;
}

.med-box {
  flex: 2;
  height: 200px;
  margin: 10px;
}

.small-box {
  flex: 3;
  height: 200px;
  margin: 10px;
}

   /* images */

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

 








 /* footer section */

  .footer-container {
    background: #F2F2F2;
    display: flex;
    position: relative;
    top: 1527px;
  }
  
  .footer-col {
    flex: 1;
    
  }


  .footer ul li {
    list-style: none;
    text-align: left;
    line-height: 1.5rem;
    margin: 25px;
   
  }

  .footer-col h1 {
    text-align: left;
    margin: 25px;

  }


  /* testing github*/